{% extends "layout.html" %}

{% block title %}Influencer Sponsor Connect{% endblock %}

{% block content %}
    <!-- Hero Section -->
    <div class="hero-section text-center d-flex align-items-center">
        <div class="container">
            <h1 class="display-4">Influencer Sponsor Connect</h1>
            <p class="lead">Connecting Sponsors and Influencers Seamlessly</p>
            <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Get Started</a>
        </div>
    </div>
    
    

    <!-- Features Section -->
    <!-- <div class="container feature-section py-5">
        <div class="row">
            <div class="col-md-4 feature text-center mb-4">
                <div class="card shadow-sm border-0">
                    <img src="https://source.unsplash.com/random/400x300?feature1" class="card-img-top rounded-top" alt="Feature 1">
                    <div class="card-body">
                        <h3 class="card-title">Feature One</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 feature text-center mb-4">
                <div class="card shadow-sm border-0">
                    <img src="https://source.unsplash.com/random/400x300?feature2" class="card-img-top rounded-top" alt="Feature 2">
                    <div class="card-body">
                        <h3 class="card-title">Feature Two</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 feature text-center mb-4">
                <div class="card shadow-sm border-0">
                    <img src="https://source.unsplash.com/random/400x300?feature3" class="card-img-top rounded-top" alt="Feature 3">
                    <div class="card-body">
                        <h3 class="card-title">Feature Three</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}
