body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

.feature-section {
    padding: 60px 0;
}
.feature-section .feature {
    padding: 20px;
}
.login-buttons {
    margin-top: 40px;
}


.hero-section {
  background: linear-gradient(135deg, #6e45e2, #88d3ce);
  height: 80vh;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s ease;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.hero-section p {
  font-size: 1.25rem;
  transition: color 0.3s ease;
}

.hero-section a.btn {
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-section a.btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.hero-section h1:hover {
  color: #ffbb33;
}

.hero-section p:hover {
  color: #f39c12;
}


